<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CryptoApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="hash">
                    <span class="oi oi-random" aria-hidden="true"></span> Hash
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="signature">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Signature
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="encryption">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> Encryption
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="sslcertficate">
                    <span class="oi oi-document" aria-hidden="true"></span> SSL Certificate
                </NavLink>
            </div>
        </AuthorizeView>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}

